.star {
    position: absolute;
    width: 3rem;
    left: 91%;
    top: 1%;
    cursor: pointer;
}

.star:active {
    transform: translateY(0.3rem);
}

.star-is-yellow,
.star-is-not-yellow:hover {
    fill: yellow !important;
}

.star-is-not-yellow,
.white-hover:hover {
    fill: white !important;
}

.star-favourite-page {
    left: 83.5%;
    top: 3%;
}