#right-arrow {
  transform: rotate(180deg);
}

#right-arrow:active {
  transform: translateY(0.3rem) rotate(180deg);
}
.two-arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
}
.arrows {
  width: 10rem;
  filter: invert(10%) sepia(71%) saturate(7122%) hue-rotate(242deg)
    brightness(66%) contrast(121%);
  cursor: pointer;
  position: relative;
}
.arrows:hover {
  filter: invert(0%) sepia(16%) saturate(4%) hue-rotate(27deg) brightness(78%)
    contrast(94%);
}
.arrows:active {
  transform: translateY(0.3rem);
}

.Random-Button {
  margin: 1.5rem;
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  border-radius: 0.5rem;
  outline: 0.2rem solid var(--DarkBlue);
  color: var(--DarkBlue);
  cursor: pointer;
}

.Random-Button:hover{
  background-color: var(--DarkBlue);
  color: buttonface;
}

.Random-Button:active {
  box-shadow: 0 4px var(--DarkBlue);
  transform: translateY(0.2rem);
}

#startpage-random-btn {
  width: 100%;
  margin: 2rem 0;
}
