
#submit-btn {
  font-size: 2rem;
  border: none;
  height: 4rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 10rem;
  outline: 0.2rem solid var(--DarkBlue);
  color: var(--DarkBlue);
  cursor: pointer;
}
#submit-btn:active {
  box-shadow: 0 4px var(--DarkBlue);
  transform: translateY(0.2rem);
}

#submit-btn:hover{
  background-color: var(--DarkBlue);
  color: var(--grey-button-color);
}

label {
  display: block;
  margin: 3rem 0 1.5rem 0;
  font-family: "Merienda One",
    cursive;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--DarkBlue);
  font-weight: 400;
}

.Fake-DataList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
