:root {
  --fill: rgb(225, 225, 225);
  --side-bar-width: 14rem;
}

.sidebar {
  height: 100vh;
  width: var(--side-bar-width);
  background: #393982;
  position: fixed;
  transition: width 500ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#pokemonball {
  width: 50%;
  transform: rotate(0);
  transition: transform 500ms ease;
}
.sidebar:hover {
  width: 25rem;
}
.sidebar:hover .sidebar-span {
  display: inline-block;
  margin-right: 1rem;
}
.sidebar:hover .li-svg {
  margin-right: 3rem;
  margin-left: 2rem;
}
.sidebar-li:hover {
  background: var(--DarkBlue);
}

#img-li:hover {
  background: transparent;
  cursor: pointer;
}

.sidebar:hover #pokemonball {
  transform: rotate(360deg);
}

.navbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar:hover .sidebar-li:not(#img-li) {
  justify-content: left;
}

.sidebar-li {
  fill: rgb(225, 225, 225);
  margin-bottom: 2.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0;
  font-family: "Merienda One", cursive;
}

li:first-child {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.li-svg {
  width: 6rem;
}

.sidebar-span {
  display: none;
  font-size: 2rem;
  color: var(--fill);
  margin: auto;
  margin-left: 0.6rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
